/* Fuentes */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2e6d7;
    color: #234c47;
  }
  
  /* Encabezado */
  .barra-logo {
    background-color: #77c1ac;
    text-align: center;
    padding: 1rem 0;
  }
  
  .barra-einstein {
    background-color: #e2c4a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 50rem;
    font-size: 1.30rem;
    font-weight: bold;
  }
  
  .barra-einstein span {
    font-size: 1.22rem;
    padding-right: 2%;
  }
  
  /* Sección de contacto */
  .contacto-container {
    display: flex;
    justify-content: center;
    padding: 6rem 2rem;
    max-width: 1300px;
    margin: auto;
    gap: 3rem;
  }
  
  .columna {
    flex: 1;
  }
  
  .imagen-placeholder {
    width: 95%;
    height: 540px;
    background-color: #99d0b9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .observacion-texto {
    margin-top: 1rem;
    font-size: 1.20rem;
    text-align: center;
  }
  
  .boton-secundario {
    display: block;
    margin: 1rem auto 0;
    padding: 0.5rem 1.5rem;
    background-color: #99d0b9;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  /* Formulario */
  .formulario h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #2b6f67;
    margin-bottom: 0.5rem;
    line-height: 35px;
  }
  
  .texto-sub {
    font-size: 1.10rem;
    margin-bottom: 1rem;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.8rem;
    border: none;
    background-color: #99d0b9;
    font-size: 1rem;
    border-radius: 4px;
  }
  
  form textarea {
    height: 160px;
    resize: none;
  }
  
  .boton-principal {
    background-color: #99d0b9;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  /* Newsletter */
  .newsletter {
    background-color: #77c1ac;
    padding: 2rem;
    text-align: center;
    padding-left: 20%;
  }
  
  .newsletter p {
    font-size: 1.50rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    
  }
  
  .newsletter input {
    margin: 0.30rem;
    padding: 0.5rem;
    border: none;
    font-size: 1.20rem;
    margin-left: 1%;
  }
  
  .newsletter button {
    background-color: #0f564c;
    color: white;
    padding: 0.60rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Navegación inferior */
  .nav-inferior {
    background-color: #e2c4a6;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-inferior p {
    font-weight: bold;
    color: #234c47;
    font-size: 2rem;
    padding-left: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
   
  
  .nav-inferior ul {
    list-style: none;
    display: flex;
    gap: 4.2rem;
    margin: 0;
    padding-right: 10%;
  }
  
  .nav-inferior a {
    text-decoration: none;
    color: #234c47;
    font-size: 1.20rem;
  }
  
  /* Footer */
  .footer {
    padding: 3rem 2rem;
    background-color: #f2e6d7;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .footer-info h2 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin: 0;
    color: #2b6f67;
  }
  
  .autor {
    font-size: 0.90rem;
    color: #2b6f67;
    margin: 0.2rem 0 1rem;
  }
  
  .descripcion {
    font-size: 1rem;
    max-width: 400px;
  }
  
  .footer-galeria {
    display: flex;
    gap: 5rem;
  }
  
  .cuadro {
    width: 500px;
    height: 400px;
    background-color: #99d0b9;
  }
  